/*-- scss:defaults --*/

// fonts
$font-family-head: 'Lato', Tahoma, Merriweather, Lato !default;

// colors
$body-color: #000000;
$link-color: #0073AE;
$code-color: #0073AE;
$head-color: #005C8B;
$author-color: #0073AE;

// size
$h1-title-font-size: 1.6em !default;
$subtitle-font-size: 0.8em !default;
$h2-font-size: 1.5em !default;
$h3-font-size: 1.15em !default;
$author-font-size: 0.8em;
$footer-font-size: 1em;


// align



/*-- scss:rules --*/

.reveal h1.title {
  font-family: $font-family-head;
  font-size: $h1-title-font-size;
  color: $head-color;
  padding-top: 80px;
  padding-bottom: 20px;
}

#title-slide .subtitle, div.reveal div.slides section.quarto-title-block .subtitle {
  font-family: $font-family-head;
  font-size: $subtitle-font-size;
  color: $head-color;
  padding-bottom: 50px;
  text-align: center;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author .quarto-title-author-name {
  font-family: $font-family-head;
  font-size: $author-font-size;
  color: $author-color;
  padding-left: 100px;
  text-align: center;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author a, .reveal .quarto-title-block .quarto-title-authors .quarto-title-author a:hover, .reveal .quarto-title-block .quarto-title-authors .quarto-title-author a:visited, .reveal .quarto-title-block .quarto-title-authors .quarto-title-author a:active {
  font-family: $font-family-head;
  font-size: $author-font-size;
  color: $author-color;
  padding-left: 100px;
  text-align: center;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author .quarto-title-affiliation {
  font-family: $font-family-head;
  font-size: 20px;
  color: $author-color;
  padding-left: 100px;
  padding-bottom: 40px;
  text-align: center;
}

p.date {
  font-family: $font-family-head;
  font-size: 0.6em;
  color: $head-color;
  padding-bottom: 20px;
  text-align: center;
}

.reveal .slide-number {
  font-family: $font-family-head;
  font-size: 0.6em;
  color: $head-color;
  padding-bottom: 425px; // provisório
}

.reveal h2 {
  font-family: $font-family-head;
  font-size: $h2-font-size;
  color: $head-color;
  padding-bottom: 20px;
}

.blue {
  color: $link-color;
}

.reveal .footer > * {
  text-align: center;
  font-size: 20px;
}

.reveal .slide ul li, .reveal .slide ol li {
  font-size: 25px;
  line-height: 1.3;
  text-align: justify;
}

.reveal p, .reveal .slides section, .reveal .slides section>section {
  font-size: 25px;
  line-height: 1.3;
  // text-align: justify;
}

.reveal table th, .reveal table td {
  font-size: 20px;
  text-align: center;
}

.table-title {
  text-align: center;
  font-size: 15px;
}

